
.rectangle {
  height: 225px;
  width: 160px;
  background-color: rgb(204, 204, 204);
}

.CardContainer{
  background-color: #f8f9fc;
  border: none;
  height: 225px;
  margin: 12px;
}

.bookCard{
  width: 160px;
  height: 225px;
  text-align: center;
  font-size: 1.1rem;
}

.openSans400{
  font-family: 'Open Sans' !important;
}

.poppins{
  font-family: 'Poppins' !important;
}

.nounderline{
  text-decoration: none !important;
}

.toast-error{
  color: white;
}
.text-14{
  font-size: 14px;
}
