
.bookCard{
  width: 160px;
  height: 225px;
  text-align: center;
  font-size: 1.1rem;
}

.mh-225{
  min-height: 225px;
}

.prev{
  text-align: center;
  cursor: pointer;
}

.next{
  text-align: center;
  cursor: pointer;
}

.openSans400{
  font-family: 'Open Sans' !important;
}

.poppins{
  font-family: 'Poppins' !important;
}

.nounderline{
  text-decoration: none !important;
}

.toast-error{
  color: white;
}
