.bookCard{
  width: 160px;
  height: 225px;
  text-align: center;
  font-size: 1.1rem;
}

.mh-225{
  min-height: 225px;
}

.prev{
  text-align: center;
  cursor: pointer;
}

.next{
  text-align: center;
  cursor: pointer;
}

.messageBanner{
  color: #858796;
  background: url('/media/message-circle-1px.svg') no-repeat 10px 6px;
  font-size: 16px;
  padding: 5px 10px 5px 40px;
  font-family: 'Open Sans', sans-serif;
  border: 0.08rem solid #40abf3;
  border-radius: 0.7rem;

  transition: border 0.25s, color 0.5s, background 0.5s;
}

.messageBanner:hover{
  border: 0.08rem solid #0e87d9;
  color: #35363c;
  cursor: pointer;
  background: url('/media/message-circle-1px-obscure.svg') no-repeat 10px 6px;
}

.editBanner{
  color: #858796;
  background: url('/media/edit-3-1px.svg') no-repeat 10px 6px;
  font-size: 16px;
  padding: 5px 10px 5px 40px;
  font-family: 'Open Sans', sans-serif;
  border: 0.08rem solid #858796;
  border-radius: 0.7rem;

  transition: border 0.25s, color 0.5s, background 0.5s;
}

.editBanner:hover{
  color: #35363c;
  cursor: pointer;
  background: url('/media/edit-3-1px-obscure.svg') no-repeat 10px 6px;
  border: 0.08rem solid #35363c;
}

.img-profile {
  height: auto;
  width: 9.375rem;
}

.openSans400{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}

.openSans300{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
}

.poppins{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
}

.poppins300{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.text-14{
  font-size: 14px;
}

.text-black {
  color: black;
}
