/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable {
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  max-height: 70vh;
}

.poppins{
  font-family: 'Poppins';
}
.openSans{
  font-family: 'Open Sans';
}
.black-text{
  color:black !important;
}
.text-14{
  font-size: 14px !important;
}
.message{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
}
